# folder
CS763_Assignment_3-master/
CS763-Assignments/
data/
Data/
final.old/
.ipynb_checkpoints/
model001/
standford-cs231n-2018/
akhil/
grad/
model001/
model002/
model003/

# files
*.pt
*.zip
*.bin
*.csv
